:root {
    --contrast: #111212;

    --native: #FFFFFF;
    
    --primary: #48B2FF;
    --primary_contrast: #0670BD;
    
    --error: #D01313;
    
    --service_contrast: #8C9399;
    --service_native: #E4E7E9;
}
